<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error{
            color: magenta;
        }
    </style>
</head>
<body>
    
    <h1>Enetr Number of your choice.</h1>

    <form action="/shownumber" method="post">
        Number: <input name="inumber" type="number" /></br>
        <input type="submit" value="Enter" /></br>
    </form>

</body>
</html>