<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome User</h1>
    <p>your selected Number is <%= number %></p>
  </body>
</html>
